{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-6">
        <a class="btn-sm btn-primary" href="{% url 'products' %}">All</a>
        <a class="btn-sm btn-primary" href="{% url 'filter' '1' %}">Pints</a>
        <a class="btn-sm btn-primary" href="">Bottles</a>
        <a class="btn-sm btn-primary" href="">Soft-drinks</a>
        <a class="btn-sm btn-primary" href="">Cocktails</a>
        <a class="btn-sm btn-primary" href="">Spirits</a>
    </div>
</div>    

<div class="row ">
	{% for product in products %}
	<div class="col-offset-1 col-10 col-sm-6 col-md-4 display panel panel-default">

		<div class="card justify-content-center" style="width: 15rem;">
			<img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text">{{ product.description }}</p>
				<p>{{ product.price }}</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>

			<form method="post" action="{% url 'add_to_cart' product.id %}">
				{% csrf_token %}
				<div class="input-group">
					<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
					<span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
				</div>
			</form>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}




<!-- 
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div> -->