{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-12">
        <a href="{% url 'filter' 'Cocktails' %}" class="btn-sm btn-primary">Cocktails</a>
        <a href="{% url 'filter' 'Pints' %}" class="btn-sm btn-primary">Pints</a> 
        <a href="{% url 'filter' 'Bottles-Cans' %}" class="btn-sm btn-primary">Bottles/Cans</a>
        <a href="{% url 'filter' 'Soft-Drinks' %}" class="btn-sm btn-primary">Soft Drinks</a>
        <a href="{% url 'products' %}" class="btn-sm btn-primary">All</a>
        <a href="{% url 'filter' 'Spirits' %}" class="btn-sm btn-primary">Spirits</a>
    </div>
</div>

<div class="row">
	<div class="col-6">
		<form method="POST" action="{% url 'sort' %}">
			{% csrf_token %}
			<div class="form-group">
				<select name="sort-select" id="sort-select" class="form-control">
                    <option value="high">high</option>
                    <option value="low">low </option>
                </select>
				<button type="submit" class="btn btn-success">Sort</button>
			</div>
		</form>
	</div>
</div>
<div class="row">
	{% for product in products %}

	<div class="card-default col-12 col-sm-6 col-md-3 ">
		<div class="card">
			<img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text">{{ product.description }}</p>
				<p>{{ product.price }}</p>
				<form method="post" action="{% url 'add_to_cart' product.id %}">
					{% csrf_token %}
					<div class="input-group">
						<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
						<div class="input-group-append">
							<button class="btn btn-success" type="submit">Add</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}