body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


/* --------- navbar --------- */

.nav-link {
    color: #cab161;
}

.form-control {
    height: calc(1.5em + 1.5rem + 3px);
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
/* --------- navbar --------- */


/* --------- product card --------- */
.card {
    /* background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; */
    /* width: 250px;
    height: 250px; */
    margin: 0 auto;
}


.card:hover {
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
    -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
}


.card-default {
    border-color: transparent;
    padding: 0 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.card-body {
    height: 100%;
    border: 1px solid #ddd;
}

.card-text {
    min-height: 5rem;
}


/* --------- product cards --------- */

.floor-plan {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 500px;
    height: 600px;
    margin: 0 auto;
}

.add-on {
    display:block;
    width:16px;
    height:16px;
    cursor:pointer;
}

caption p {
    word-wrap: break-word;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

p .badge {
    min-height: 5rem;
} 