{% extends 'base.html' %} {% load bootstrap_tags %} {% load staticfiles %}
{% block content %}

<div class="">
  <h1>Make a Reservation</h1>
</div>

<form role="form" method="post">
  {% csrf_token %}

  <div class="col-sm-3">
  {{ reservation_form | as_bootstrap }}
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <input
        class="btn btn-primary"
        id="submit_payment_btn"
        name="commit"
        type="submit"
        value="Submit"
      />
    </div>
  </div>
</form>


{% endblock %}
